.block {
    display: flex;
    align-items: center;
    width: 80%;
    height: 154px;
    background: #FFFFFF;
    border-radius: 10px;
    margin: 2% 0;
}

.icon {
    box-sizing: content-box;
    width: 24px;
    height: 24px;
    margin-left: 10px;
    padding: 23px;
    border-radius: 50%;
    background: rgba(113, 59, 219, 0.05);
}

#ellipse-rose {
    background: rgba(255, 76, 97, 0.05);
}

#ellipse-yellow {
    background: rgba(255, 184, 0, 0.07);
}

.content-title {
    padding-left: 20px;
    width: 205px;
}

h4 {
    margin-bottom: 11px;
    font-size: 20px;
}

h4::after {
    content: attr(data-sub);
    margin-left: 10px;
    color: #A6ACBE;
    font-size: 14px;
}

.content-title span {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: #A6ACBE;
}

@media screen and (min-width: 576px) {
    .block {
        width: 44%;
    }
}

@media screen and (min-width: 992px) {
    .block {
        width: 21%;
        margin: 0 2.5% 2% 0;
    }

    .block:first-child {
        margin-left: 4%;
    }

    .block:last-child {
        margin-right: 4%;
    }
}

@media screen and (min-width: 1200px) {
    .block {
        width: 21.7%;
        margin: 0 2% 2% 0;
    }

    .block:first-child {
        margin-left: 3.5%;
    }

    .block:last-child {
        margin-right: 3.5%;
    }

    .icon {
        margin-left: 40px;
    }

    .content-title {
        padding-left: 30px;
    }

    h4 {
        font-size: 28px;
    }

    h4::after {
        font-size: 12px;
    }
}