.content {
    display: flex;
    align-items: center;
    width: 395px;
    height: 154px;
    margin-bottom: 50px;
    background: #FFFFFF;
    border-radius: 10px;
}

.ellipse {
    width: 70px;
    height: 70px;
    margin-left: 40px;
    border-radius: 50%;
    background: rgba(113, 59, 219, 0.05);
}

#ellipse-rose {
    background: rgba(255, 76, 97, 0.05);
}

.font-ellipse {
    position: relative;
    top: 25px;
    left: 25px;
}

.content-title {
    margin-left: 30px;
}

h4 {
    margin-bottom: 11px;
    font-size: 28px;
}

h4 span {
    margin-left: 10px;
}

.content-title span {
    font-weight: 500;
    line-height: 16px;
    color: #A6ACBE;
}