.filter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1843px;
    height: 100px;
    background: #FFFFFF;
}

.font-search {
    position: relative;
    z-index: 1;
}

.input-search {
    width: 99px;
    height: 24px;
    padding-left: 30px;
    border: 1px solid #FFFFFF;
    outline: none;
}

.input-search::-webkit-input-placeholder {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #A6ACBE;
}

.input::-moz-placeholder {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #A6ACBE;
}

.search {
    width: 1367px;
    padding-left: 83px;
}

.lecturer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.01em;
    color: #000000;
}

.lecturer-over {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.lecturer-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 125px;
}

.lecturer-block span{
    font-size: 12px;
    line-height: 14px;
    color: #A6ACBE;
}

.lecturer-img {
    width: 50px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 50px;
    background: url("/img/7.jpg");
    background-size: contain;
}

.notifications {
    display: flex;
    align-items: center;
    height: 100px;
}

.notifications::before {
    content: "";
    height: 64px;
    border: 1px solid #EFF4F7;
}

.notifications-nav {
    display: flex;
    justify-content: space-evenly;
    width: 176px;
    list-style: none;
}

