nav {
    width: 20%;
    height: 2570px;
    background: #373B53;
}

.logo {
    position: relative;
    height: 100px;
    background: #6F52ED;
}

.logo-img {
    position: absolute;
    left: 10px;
    top: 20px;
}

.navigations {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 2370px;
    list-style: none;
}

.link {
    margin: 30px;
}

.active {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.navigations a:first-child {
    margin-top: 50px;
}

.settings {
    height: 100px;
    border: 1px solid #494E67;
}

.settings-font {
    position: relative;
    left: 20px;
    top: 38px;
}

@media screen and (min-width: 576px) {
    nav {
        width: 12%;
        height: 1570px;
    }

    .navigations {
        height: 1370px;
    }
}

@media screen and (min-width: 768px) {
    nav {
        height: 1760px;
    }

    .navigations {
        height: 1560px;
    }

    .logo-img {
        left: 25px;
    }

    .settings-font {
        left: 38px;
    }
}

@media screen and (min-width: 992px) {
   nav {
       width: 10%;
       height: 1870px;
   }

    .navigations {
        height: 1670px;
    }
}

@media screen and (min-width: 1200px) {
    nav {
        width: 7%;
        height: 200vh;
    }

    .navigations {
        height: 175vh;
    }
}


@media screen and (min-width: 1740px) {
    nav {
        width: 5%;
        height: 1080px;
    }

    .navigations {
        height: 880px;
    }
}
