nav {
    width: 100px;
    height: 1080px;
    background: #373B53;
}

.logo {
    position: relative;
    height: 100px;
    background: #6F52ED;
}

.logo-img {
    position: absolute;
    left: 25px;
    top: 20px;
}

.navigations {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 880px;
}

.navigations li {
    margin: 30px;
    list-style: none;
}

.navigations li:hover {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.navigations a:first-child{
    margin-top: 50px;
}

.settings {
    height: 100px;
    border: 1px solid #494E67;
}

.settings-font {
    position: relative;
    left: 38px;
    top: 38px;
}
