.mark {
    flex-wrap: wrap;
    width: 100%;
    height: 572px;
}

.mark-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    padding: 0 20px;
    border-bottom: 1px solid #EEF0F7;;
}

.mark-content {
    height: 522px;
    width: 100%;
    overflow-y: scroll;
}

.mark-content::-webkit-scrollbar {
    width: 5px;
}

.mark-content::-webkit-scrollbar-track-piece {
    margin-top: 34px;
}

.mark-content::-webkit-scrollbar-thumb {
    background-color: #DADCE4;
    border-radius: 9em;
}

.mark-nav-caption, .mark-nav-subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #000000;
}

.mark-nav-subtitle {
    padding-top: 5px;
    text-align: center;
    font-weight: 500;
    color: #A6ACBE;
}

.font-down {
    position: relative;
}

@media screen and (min-width: 576px) {
    .mark {
        width: 45%;
    }
}

@media screen and (min-width: 768px) {
    .mark {
        width: 44%;
    }
}

@media screen and (min-width: 992px) {
    .mark {
        margin: 0;
    }

    .mark-nav-subtitle {
        padding-top: 0;
    }

    .font-down {
        top: 9px;
    }
}

@media screen and (min-width: 1200px) {
    .mark {
        width: 23%;
    }

    .mark-nav-caption, .mark-nav-subtitle {
        font-size: 14px;
    }
}
