.section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.section-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#root > div > div.content > div:nth-child(3) > div.section-block > div:nth-child(1) {
    width: 100%;
    height: 378px;
    border-radius: 10px;
    margin: 2% 0;
}

.highcharts-title {
    fill: #000000;
}

.highcharts-credits {
    display: none;
}

@media screen and (min-width: 576px) {
    .section-row {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .section-block {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media screen and (min-width: 992px) {
    .section-row {
        justify-content: space-between;
    }

    .section-block {
        justify-content: space-around;
    }

    #root > div > div.content > div:nth-child(3) > div.section-block > div:nth-child(1) {
        margin: 0;
    }
}

@media screen and (min-width: 1200px) {
    .section-row {
        align-items: flex-start;
    }

    .section-block {
        justify-content: space-between;
        width: 48.5%;
    }

    #root > div > div.content > div:nth-child(3) > div.section-block > div:nth-child(1) {
        width: 100%;
        margin: 0 0 5% 0;

    }

    #block-last {
        width: 45.6%;
        margin: 0;
    }
}



