.section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.section-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.section-chart {
    position: relative;
    flex-wrap: wrap;
}

#root > div > div.content > div.section > div.section-chart > div:nth-child(1) {
    width: 100%;
    height: 378px;
    border-radius: 10px;
    margin: 10px 0;
}

.highcharts-title {
    fill: #000000;
}

.highcharts-credits {
    display: none;
}

#block-first {
    position: absolute;
    bottom: -170px;
}

#block-last {
    position: absolute;
    bottom: -340px;

}

@media screen and (min-width: 576px) {
    .section-row {
        flex-direction: row;
        align-items: flex-start;
    }

    #root > div > div.content > div.section > div.section-chart > div:nth-child(1) {
        width: 45.5%;
        margin: 0 40px 40px 60px;
    }

    #block-first, #block-last {
        bottom: -27px;
    }

    #block-first {
        left: 3.1%;
    }

    #block-last {
        left: 26.3%;
    }
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {

}



