.section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.section-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.section-chart {
    position: relative;
    flex-wrap: wrap;
}

#root > div > div.content > div.section > div.section-chart > div:nth-child(1) {
    width: 100%;
    height: 378px;
    border-radius: 10px;
    margin: 2% 0;
}

.highcharts-title {
    fill: #000000;
}

.highcharts-credits {
    display: none;
}

#block-first {
    position: absolute;
    bottom: -170px;
}

#block-last {
    position: absolute;
    bottom: -340px;

}

@media screen and (min-width: 576px) {
    .section-row {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    #root > div > div.content > div.section > div.section-chart > div:nth-child(1) {
        width: 90%;
    }

    #block-first, #block-last {
        bottom: -170px;
    }

    #block-first {
        left: 3.1%;
    }

    #block-last {
        left: 52.3%;
    }
}

@media screen and (min-width: 768px) {
    #root > div > div.content > div.section > div.section-chart > div:nth-child(1) {
        width: 92%;
    }

    #block-first {
        left: 4.1%;
    }
}

@media screen and (min-width: 992px) {
    .section-row {
        justify-content: normal;
    }

    #root > div > div.content > div.section > div.section-chart > div:nth-child(1) {
        width: 91%;
        margin: 0 4% 2% 4%;
    }

    #block-first, #block-last {
        bottom: -195px;
    }

    #block-last {
        left: 27.1%;
    }
}

@media screen and (min-width: 1200px) {
    .section-row {
        align-items: flex-start;
    }

    #root > div > div.content > div.section > div.section-chart > div:nth-child(1) {
        width: 46%;
        margin: 0 2% 2% 3%;
    }

    #block-first, #block-last {
        bottom: -33px;
    }

    #block-last {
        left: 27.3%;
    }

    #block-first {
        left: 3.1%;
    }
}



