@font-face {
    font-family: Gilroy;
    src: url('../fonts/Gilroy.otf') format("truetype");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-width: 320px;
    font-family: Gilroy;
    background: #DFE1EB;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #000000;
}

.App {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
    body {
        font-size: 14px;
    }
}
