.studying {
    margin: 10px 0;
}

.studying-header {
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
}

@media screen and (min-width: 576px) {
    .studying {
        margin: 0 60px 0 0;
    }
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {

}

