.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 83%;
    margin: 30px 40px 25px 30px;
}

.user-content {
    display: flex;
    align-items: center;
}

.user-name {
    font-weight: 500;
    line-height: 16px;
    color: #A6ACBE;
    margin-left: 10px;
}

.user-percent {
    line-height: 16px;
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {

}
