.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 140px;
}

.title h1 {
    font-size: 25px;
    line-height: 36px;
}

.title span {
    font-weight: 500;
    color: #A6ACBE;
}


.font-pencil, .font-plus {
    position: relative;
    left: 20px;
    top: 15px;
    z-index: 1;
}

#btn-pencil {
    border: 1px solid #DADCE5;
    box-sizing: border-box;
    border-radius: 5px;
    background: transparent;
    color: #6F52ED;;
}

#btn-plus {
    background: #6F52ED;
    border: 1px solid #6F52ED;
    border-radius: 5px;
    color: #FFFFFF;
}

@media screen and (min-width: 576px) {
    .row {
        justify-content: space-evenly;
    }

    .title span {
        font-size: 14px;
    }
}

@media screen and (min-width: 768px) {
    .row {
        justify-content: space-between;
    }

    .title {
        margin-left: 60px;
    }

    .title h1 {
        font-size: 30px;
    }

    .controls {
        margin-right: 60px;
    }

    .font-pencil, .font-plus {
        left: 30px;
    }
}

@media screen and (min-width: 992px) {
    .font-pencil, .font-plus {
        top: 5px;
    }
}
