.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 130px;
    background: #FFFFFF;
}

.search {
    display: flex;
    align-items: center;
    width: 256px;
    padding-left: 20px;
}

.font-search {
    z-index: 1;
}

.input-search {
    width: 99px;
    height: 24px;
    padding-left: 10px;
    border: 1px solid #FFFFFF;
    outline: none;
}

.input-search::-webkit-input-placeholder {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #A6ACBE;
}

.input::-moz-placeholder {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #A6ACBE;
}

.lecturer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    font-weight: 500;
    text-align: right;
}

.lecturer-over {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.lecturer-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100px;
}

.lecturer p {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.lecturer-block span {
    margin-top: 5px;
    font-size: 12px;
    line-height: 14px;
    color: #A6ACBE;
}

.lecturer-img {
    width: 50px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 50px;
    background: url("/img/7.jpg");
    background-size: contain;
}

.notifications {
    display: flex;
    align-items: center;
    height: 100px;
    width: 40%;
}

.notifications-nav {
    display: flex;
    justify-content: space-evenly;
    width: 176px;
    list-style: none;
}

@media screen and (min-width: 576px) {
    .header {
        height: 100px;
    }

    .search {
        width: 150px;
    }

    .lecturer {
        width: 250px;
    }

    .notifications {
        width: 100px;
    }
}

@media screen and (min-width: 768px) {
    .search {
        width: 55%;
    }

    .lecturer {
        width: 35%;
    }

    .notifications {
        width: 10%;
    }

    .lecturer-block {
        width: 125px;
    }

    .notifications::before {
        content: "";
        height: 64px;
        border: 1px solid #EFF4F7;
    }
}

@media screen and (min-width: 992px) {
    .search {
        width: 55%;
        padding-left: 83px;
    }

    .lecturer {
        width: 35%;
    }
}

@media screen and (min-width: 1200px) {
    .search {
        width: 70%;
    }

    .lecturer {
        width: 20%;
    }
}



