@font-face {
    font-family: Gilroy;
    src: url('fonts/Gilroy.otf') format("opentype"),
    url('fonts/Gilroy.ttf') format('truetype'),
    url('fonts/Gilroy.woff2') format('woff2'),
    url('fonts/Gilroy.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy, Arial, Calibri;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #000000;
}

body {
    width: 100%;
    min-width: 320px;
    background: #DFE1EB;
}

#root {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
    body {
        font-size: 14px;
    }
}
