.content {
    display: flex;
    align-items: center;
    width: 200px;
    height: 100px;
    margin-bottom: 20px;
    background: #FFFFFF;
    border-radius: 10px;
}

.ellipse {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    border-radius: 50%;
    background: rgba(113, 59, 219, 0.05);
}

#ellipse-rose {
    background: rgba(255, 76, 97, 0.05);
}

#ellipse-yellow {
    background: rgba(255, 184, 0, 0.07);
}

.content-title {
    padding-left: 30px;
    width: 120px;
}

.font-ellipse {
    position: relative;
    top: 13px;
    left: 13px;
}


h4 {
    margin-bottom: 11px;
    font-size: 20px;
}

h4 span {
    margin-left: 10px;
}

.content-title span {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #A6ACBE;
}

@media screen and (min-width: 768px) {
    .content {
        width: 300px;
        height: 154px;
        margin-bottom: 25px;
    }

    .ellipse {
        width: 70px;
        height: 70px;
        margin-left: 40px;
    }

    .font-ellipse {
        top: 25px;
        left: 25px;
    }

    .content-title {
        padding-left: 30px;
    }

    h4 {
        font-size: 28px;
    }
}

@media screen and (min-width: 992px) {
    .content {
        width: 395px;
        margin-bottom: 50px;
    }
}
